.appContainer {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
}

.mainContent {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
  padding: 0;
  flex: 1;
}
@media (max-width: 1024px) {
  .mainContent {
    margin-top: 4rem;
  }
}

@media (max-width: 768px) {
  .appContainer {
    flex-direction: column;
  }

  .mainContent {
    overflow-x: visible;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .mainContent {
    margin-top: 0.5rem;
  }
}
