.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.mainContent {
  overflow-x: visible;
  max-width: 100vw;
  padding: 1rem;
}

@media (max-width: 1028px) {
  .mainContent {
    margin-top: 4rem;
  }
}

@media (min-width: 769px) {
  .appContainer {
    flex-direction: row;
  }

  .mainContent {
    flex: 1;
    padding: 1rem;
    overflow-x: hidden;
  }
}
