.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f9;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 10px;
}

.button {
  background-color: white;
  color: #007bff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
  color: white;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.welcome {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.forms {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.dataSection {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.incomeSection, .expenseSection {
  flex: 1;
}

h3 {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.listItem:last-child {
  border-bottom: none;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for income */
  gap: 10px;
  margin: 20px 0;
}

.expenseSection .gridContainer {
  grid-template-columns: repeat(4, 1fr); /* 4 columns for expenses */
}

.gridHeader {
  font-weight: bold;
  background-color: #f4f4f4;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.gridItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.gridItem:nth-child(even) {
  background-color: #f9f9f9;
}

.metricsGrid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.chartSection {
  margin-bottom: 40px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chartSection h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}
.filters select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  transition: border-color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.filters select:focus {
  border-color: #007bff;
  outline: none;
  background-color: #f0f8ff; 
}

.filters select:hover {
  border-color: #0056b3; 
}

/* Optional: Add a visually distinct class for the selected filter */
.selectedFilter {
  background-color: #e7f3ff;
  font-weight: bold;
  color: #007bff;
}

.exportButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.exportButtons button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.exportButtons button:hover {
  background-color: #218838;
}


.card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}
.card .income_amount{
  color: #0bb833;
}

.card .expense_amount{
  color: #e31616;
}
.card .net_amount{
  color: #007bff;
}

.loader {
  text-align: center;
  font-size: 1.2rem;
  color: #007bff;
}

.noData {
  text-align: center;
  font-size: 1.2rem;
  color: #e31616;
}


/* TABS */

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.tabButton {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background-color: #f4f4f9;
  color: #333333;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tabButton:hover {
  background-color: #007bff;
  color: #ffffff;
}

.activeTab {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
}



/* End OF Tabs */


  
@media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .title {
      font-size: 1.2rem;
    }
  
    .content {
      font-size: 0.9rem;
    }
  }
  