.navContainer {
  width: fit-content;
  min-width: 210px;
  background-color: #f4f4f4;
  padding: 1.4rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid #ddd;
}

.brand {
  flex-shrink: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.navList {
  list-style: none;
  padding: 0.7rem;
  margin: 0;
  width: 100%;
}
.navList li {
  margin-bottom: 15px;
  padding: 0.3rem;
}

.navList li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #333;
  padding: 0.5rem;
}

.navList li a.active {
  font-weight: bold;
  color: #007bff;
  border-bottom: 3px solid #007bff;
}

.navList li a:hover {
  color: #007bff;
}

/* Mobile styles: switch to a top nav */
@media (max-width: 1024px) {
  .navContainer {
    width: 100%;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #ddd;
    box-shadow: none;

    /* Mobile-specific styles */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f4f4f4;
    height: fit-content;
  }

  .brand {
    display: none;
  }
  .logo {
    font-size: 1rem;
  }

  nav {
    flex: 1;
    overflow: hidden;
  }
  .navList {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    list-style: none;
    flex-wrap: nowrap;
    overflow-x: auto;
    font-size: 1.2rem;
    height: fit-content;

    -webkit-overflow-scrolling: touch;
  }
  .navList li {
    margin-bottom: 0;
    flex: 0 0 auto;
  }
  .navList li a {
    white-space: nowrap;
    padding: 0.5rem;
    font-size: 0.9rem;
    text-decoration: none;
    color: #333;
  }
}

@media (max-width: 480px) {
  .navContainer {
    padding: 0.5rem 1rem;
  }
  .logo {
    font-size: 1rem;
  }
  .navList {
    gap: 1rem;
  }
  .navList li a {
    font-size: 0.9rem;
    padding: 0.3rem;
  }
}
